@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap');

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

:root{ /*Facilitar a troca de Fonte no Projeto*/
    --font-primary: "Baloo Da 2", serif;
    --font-secundary: "Josefin Slab", serif;
    --font-action: "Mulish",serif;
}

html{
    scroll-behavior: smooth;/*suavizar*/
}

.hamburguer{
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100;/*tras o objeto a frente*/
    right: 2rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;

}

.show-menu .hamburguer{
    right: 16rem;
}

.line{
    width: 100%;
    height: .1rem;
    background-color: #FFF;
    box-shadow: .1rem .1rem 1px #000;
    transition: transform 1s;
    
}

.show-menu #line1{
    transform: rotate(45deg) translate(.3rem, .45rem);

}

.show-menu #line3{
    transform: rotate(-45deg) translate(.3rem, -.4rem);

}

.show-menu #line2{
    opacity: 0;
    visibility: hidden;

}

.hamburguer span{
    position: absolute;
    left: 3rem;
    background-color: #85e328; 
    height: 2rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: var(--font-action);
    opacity: 0;


}

.hamburguer span::before{/*faz a setinha*/
    content: "";
    position: absolute;
    border-right: .5rem solid #85e328;
    border-top: .5rem solid transparent;
    border-left: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
    left: -1rem;
}

.show-menu .hamburguer:hover span{
    opacity: 1;

}

header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
   
}
.img-wrapper{    
    height: 100vh;
    overflow: hidden;    
    background-position: bottom;
    background-size: cover;
    animation: zoom 5s;
    background-color:rgba(0, 0, 0); 
   
}



.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;/*cobrir a div*/     
    animation: zoom 10s;
    opacity: 0.5;
}

@keyframes zoom{
    0%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

.banner{
    position: absolute;
    top: 30%;
    left: 15%;  

}

.banner h1{
    color: #FFFFFF;
    font-size: 3.5rem;
    font-family: var(--font-primary);
    font-weight: 200;
    text-shadow: .3rem .4rem 2px rgba(0, 0, 0, .4);
    line-height: 3.5rem;
    margin-bottom: 2rem;
    animation: moveBanner 1s 0.5s forwards;
}

.banner p{
    font-family: var(--font-secundary);
    color: #fff;
    font-size: 2rem;
    text-shadow: .2rem .2rem 2px rgba(0, 0, 0, .4);
    margin-bottom: 2rem;
    font-weight: bold;
    opacity: 0;
    animation: moveBanner 1s 0.7s forwards;

}

.banner button{
    font-family: var(--font-action);
    color: #fff;
    font-size: 1.2rem;
    letter-spacing: .1rem;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    background: #434343;  
    background: -webkit-linear-gradient(to right, #000000, #434343); 
    background: linear-gradient(to left, #000000, #434343); 
    padding: 1rem 4rem 1rem 4rem; /*height right botton left*/ 
    border: none;
    opacity: 0;
    animation: moveBanner 1s 0.9s forwards;

}


@keyframes moveBanner {
    0%{
        transform: translateY(10rem) rotateY(-30deg);
    }
    100%{
        transform: translateY(0) rotateY(0);
        opacity: 1;

    }
    
}


.sidebar{
    width: 20rem;
    height: 100vh;
    background-color: #FFF;
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all 1s; /*Suavizar abertura e fechamento*/
    z-index: 1; /*Fica por cima de outros elementos */
}

.show-menu .sidebar{
    right: 0;

}

.menu{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.menu-item{
    text-align: center;
    margin-bottom: .5rem;
}

.menu-link{
    font-family: var(--font-action);
    font-size: 2rem;
    color: #555;
    transition: color 1s;

}

.menu-link:hover{
    color: #85e328;
}

.social-media{
    position: absolute;
    bottom: 2rem;
    width: 100%;    
    display: flex;
    justify-content: space-evenly;
}

.social-media i{
    background: -webkit-linear-gradient(to right, #000000, #434343); 
    background: linear-gradient(to left, #000000, #434343); 
    color: #FFF;
    height: 3rem;
    width: 3rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;  

}

/******************************************Conhecimentos**************************************/

.conhecimentos{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(6, 6rem);
    row-gap: .5rem;
}

.conhecimento:nth-child(1){
    grid-column: 4 / 7; /*começa na coluna 4 e termina na 7*/
    grid-row: 1 / 3;  /*começa na linha 1 e termina na 3*/
}

.conhecimento:nth-child(2){
    grid-column: 3 / 6; 
    grid-row: 3 / 5;  
}

.conhecimento:nth-child(3){
    grid-column: 4 / 7; 
    grid-row: 5 / -1;  
}

.conhecimento:nth-child(4){
    grid-column: 11 / 14; 
    grid-row: 1 / 3;  
}

.conhecimento:nth-child(5){
    grid-column: 12 / 15; 
    grid-row: 3 / 5;  
}

.conhecimento:nth-child(6){
    grid-column: 11 / 14; 
    grid-row: 5 / -1;  
}

.sessao-conhecimentos{
    background-color: #f5f5f5;
}

.sessao-header{
    display: flex;
    align-items: center; /*vertical*/
    justify-content: center;

}

.conhecimento-header{
    display: flex;
}

.sessao-header h1{
    font-family: var(--font-primary);
    font-size: 3rem;
    color: #4b4b4b;
    border-bottom: solid 3px #85e328;    
    margin-bottom: 1.5rem;
}

.conhecimento-header{
    display: flex;
    align-items: center;
    color: #4b4b4b;
}

.conhecimento-header i{
    font-size: 2.5rem;

}

.conhecimento-header h3{
    font-family: var(--font-secundary);
    font-size: 2rem;
    padding-left: 1rem;
}

.conhecimento-text{
    font-family: var(--font-secundary);
    margin-top: 1rem;
}

.conhecimento-img-wrapper{
    grid-column: 7 / 11;
    grid-row: 2 / 6;
    width: 100%;
}
.conhecimento-img-wrapper img{
    object-fit: cover;
    width: 80%;
   
}

/*************************************************Projetos****************************************/

.projetos{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

.card{
    width: 18rem;
    height: 25rem;
    position: relative;/*faz o texto ficar dentro*/
}

.card-img-wrapper{   
    width: 100%;
    height: 100%;
    background-color: #000;
    border-radius: .5rem;
}

.card-img-wrapper img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: .5rem;   
    opacity: .8;   
    transition: opacity .3s; 
}
.card-img-wrapper img{
    opacity: .5;
}


.card-info{
    position: absolute;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    padding: 2rem;
    text-shadow: 0.3rem 0.1rem 0.3rem rgba(0, 0, 0, .4);
    transition: all 3s;
}

.card-info h2{
    font-family: var(--font-primary);
    font-size: 2rem;
    font-weight: 500;
    color: #85e328;
}

.card-info h3{
    font-family: var(--font-secundary);
    font-weight: bolder;
    color: #FFF;
    margin-bottom: 1.5rem;
}

.card-info p{
    font-family: var(--font-secundary);
    color: #eee;
    font-weight: 400;
    width: 80%;   
    margin-bottom: 2rem; 
}

.btn{
    background: #434343;  
    background: -webkit-linear-gradient(to right, #000000, #434343); 
    background: linear-gradient(to left, #000000, #434343); 
    font-family: var(--font-action);
    font-size: 1rem;
    color: #eee;
    border: none;
    border-radius: .5rem;
    box-shadow: 0 .1rem .8rem rgba(0, 0, 0, .4);

}

.card-info button{    
    width: 8rem;
    height: 2.5rem;    
}

.card:hover .card-info{
    bottom: 2rem;
    opacity: 1;
    visibility: visible;

}

/********************************Contato*****************************************/

.sessao-contato{
    width: 100%;
    height: 100vh;
    background-color: #272727;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contato-wrapper{
    width: 60%;
    height: 30rem;
    display: flex;
    box-shadow: 0 2rem 3rem rgba(0,0,0,0.5);

}

.contato-left{
    width: 35%;
    background: linear-gradient(rgba(15,15,15,0.6), rgba(22,22,22,0.9)), url(imagens/contato.jpg); /*Efeito escurecido na imagem*/
    background-size: cover;
}
.contato-right{
    width: 65%;
    background-color: #eee;
    padding: 1rem 3rem 3rem 3rem;
}

.sessao-contato h1{
    width: 100%;
    text-align: center;
    font-family: var(--font-primary);
    color: #272727;
    font-size: 2rem;
    font-weight: lighter;
}

.sessao-contato form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group{
    position: relative;
}

.input-group textarea{
    padding-top: 1rem;
    max-width: 25rem;
    max-height: 3;
}

.field{
    background: transparent;
    border: none;
    width: 20rem;
    font-size: 1.5rem;
    font-family: var(--font-secundary);
    border-bottom: 2px dashed #636363;
    height: 3rem;
    outline: none;
    margin: 1rem 0;

}

.field-label{
    position: absolute;
    left: 0;
    top: 2rem;
    font-size: 1.2rem;
    font-family: var(--font-secundary);
    text-transform: uppercase;
    transition: all 0.3s;
}

.field:focus ~ label{ /*faz o esquema do label subir*/
    top: 0;
    font-size: 1rem;
}

.field:focus{
    border-bottom: 1px solid#636363;
}

.btn_submit{
    font-size: 1.2rem;
    text-transform: uppercase;
    width: 80%;
    height: 2rem;
    margin-top: 1rem;
}
/*------------------------------------Sessao Orcamento-------------------------------------------*/
.sessao-orcamento{
    width: 100%;
    height: 100vh;
    background-color: #f5f5f5;
   /* background: url("./imagens/bg-orcamento.jpeg");*/
   /* object-fit: cover;*/
    display: flex; /*alinhamento pai*/
    justify-content: center;/*alinhamento*/
    align-items: center;/*alinhamento*/
}

.orcamento-wrapper{
    width: 60%;
    height: 80%;
    background-color: #e6e8e3;
    border-radius: 10px;
    box-shadow: 0 0.1rem 0.3 rgba(0, 0, 0, 0.5);
    position: relative;
}

.sessao-orcamento h1{
    position: absolute;
    top: -2.5rem;
    left: 2rem;
    background: #434343;  
    background: -webkit-linear-gradient(to right, #000000, #434343); 
    background: linear-gradient(to left, #000000, #434343); 
    color: #FFF;
    font-size: 3rem;
    padding: 0 3rem;
    font-family: var(--font-primary);
    font-weight: lighter;
    box-shadow: 0 0.1rem 0.3 rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.sessao-orcamento form{
    margin: 4rem;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
}

.sessao-orcamento label{
    font-family: var(--font-secundary);
    font-size: 1.5rem;
    font-weight: bold;
}

.sessao-orcamento input[type="number"]{
    font-family: var(--font-secundary);
    width: 4rem;
    font-size: 2rem;
    outline: none; /*remover bordas*/
    border-radius: 10px;
    border: none;/*remover bordas*/
    padding: 0.3rem;
}

.btn-orcamento{
    text-transform: uppercase;
    padding: 1rem;
    cursor: pointer;
    grid-column: 2;
    
}

.sessao-orcamento input[type="checkbox"]{    
    width: 1rem;       
}

/*------------------------------------Footer-------------------------------------------*/

footer{
    width: 100%;
    height: 7rem;
    background-color: #17181b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content{
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.footer-content p{
    font-family: var(--font-secundary);
    color: #a7a7a7;
    font-size: 1.2rem;
}

.social-list a{
    margin: 0 2rem;
    color:#a7a7a7;
    font-size: 1.3rem;
}

.social-list ul{
    display: flex;

}

#link-whatsapp{/*Whatsapp*/
    position: fixed; /*Deixa o objeto na mesma posição*/
    right: 3rem;
    bottom: 3rem;
    width: 4rem;
    height: 4rem;   
    font-size: 3.2rem; /*tamanho do icone*/
    background: #58d565; 
    border-radius: 2rem;        
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;    
}

@media (max-width:1000px) {    
    .conhecimento-img-wrapper img{
        display: none;      
    }

    .conhecimentos{
        display: flex;
        justify-content: space-between;  
        flex-wrap: wrap;          
        justify-content: center;             
    }

    .conhecimento p{
        width: 18rem;
        height: 8rem; 
        padding-right: 1rem;
        text-align: justify;      
    }
   /*********************Projetos*********************/

   .projetos{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;    
}

    .card{
    margin-bottom: 2rem;
}

/*********************Orçamento*********************/
.sessao-orcamento h1{   
    font-size: 2rem;
    padding: 0 1rem;   
   
}

.btn-orcamento{    
    padding: 0.5rem;
    font-size: 1rem;  
    
}

/*.orcamento-wrapper{
    width: 75%;   
}*/

.sessao-orcamento label{    
    font-size: 1.5rem;
    
}

.sessao-orcamento input[type="number"]{    
    width: 3rem;
    font-size: 1rem;   
    padding: 0.3rem;
    height: 2rem;
}


}

@media (max-width:850px) {
    /*Contato*/
    .sessao-contato{
        height: 100%;
        /*sessao Pai*/
    }
    
    .contato-wrapper{        
        box-shadow: 0 0rem 0rem rgba(0,0,0,0.5);   
    }

    /*Orçamento*/
    .sessao-orcamento{
        width: 100%;
        height: 100%;
        margin-top: 5rem; /*sessao Pai*/
        margin-bottom: 5rem;   
    }
    
    .orcamento-wrapper{
        width: 60%;          
    }
    
    .sessao-orcamento h1{        
        top: -1.5rem;    
        font-size: 2rem;
        padding: 0 2rem;      
    }
    
    .sessao-orcamento form{
        margin: 3rem;
  
    }
    
    .sessao-orcamento label{        
        font-size: 1rem;        
    }
    
    .sessao-orcamento input[type="number"]{        
        width: 2rem;
        font-size: 1rem;       
    }
    
    .btn-orcamento{
       font-size: 1rem; 
       width: 75%;     
    }

    /*Contato*/
    .btn_submit{
        font-size: 1rem;        
        width: 50%;
      
    }
}




    @media (max-width:700px) {
        /*Contato*/

    .contato-right{
        width: 75%;   
        background-color: #eee;    
    }
    .contato-left{
        display: none;
    }
    .contato-wrapper{
        width: 75%;
        background-color: #eee;

    }

    .btn_submit{
        font-size: 0.8rem;        
        width: 70%;
      
    }

    /*Orçamento*/

    .orcamento-wrapper{
        width: 75%;          
    }

    .sessao-orcamento h1{        
        top: -0.8rem;    
        font-size: 1.5rem;
           
    }
    .btn-orcamento{
        font-size: 0.8rem;       
     }


    .social-list{
    display: none;
    }

    .footer-content p{
      font-size: 1rem;
    }






}

@media (max-width:450px) {
    /*Banner*/
    .banner{           
        top: 15%;
        left: 8%;      
    }
    .banner button{
        display: none;
        }    
        /*Conhecimento*/
    .conhecimento-img-wrapper img{
        display: none;      
    }

    .conhecimentos{
        display: flex;
        justify-content: space-between;  
        flex-wrap: wrap;          
        justify-content: center;             
    }

    .conhecimento p{
        width: 18rem;
        height: 8rem; 
        padding-right: 1rem;
        text-align: justify;      
    }
   /***Projetos**/

   .projetos{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;    
    }

    .card{
    margin-bottom: 2rem;
    }

    /***Contato***/
   
   
    .contato-wrapper{
        width: 100%;

    }  
 
   
   

    

    /*********************Orçamento*********************/

    .sessao-orcamento h1{ 
        top: -2rem;  
        font-size: 1rem;
        padding:  1rem;   
    
    }
    .orcamento-wrapper{
        width: 100%;   
    }

    .sessao-orcamento label{    
        font-size: 1rem;
        
    }

    .sessao-orcamento input[type="number"]{    
        width: 2rem;
        font-size: 1rem;   
        padding: 0.3rem;
        height: 1rem;
    }       

    #link-whatsapp{/*Whatsapp*/    
        width: 2.5rem;
        height: 2.5rem;   
        font-size: 2.1rem; /*tamanho do icone*/           
    }

      

}